<mat-nav-list>
    <div class="logo">
      <!-- <img src="./assets/download.jpg" alt="Company Logo" /> -->
    </div>
    <mat-divider></mat-divider>
  
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      ><mat-icon>home</mat-icon></a
    >
  
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      ><mat-icon>android</mat-icon></a
    >
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      ><mat-icon>assessment</mat-icon></a
    >
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      ><mat-icon>build</mat-icon></a
    >
   
  </mat-nav-list>
  